body {
  max-width: 900px;
  margin: auto;
  padding: 0 1em;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
}

img {
  max-width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  margin-top: 2em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  gap: 1em;
  justify-content: center;
}

nav ul a {
  text-decoration: none;
  color: black;
}

nav ul a:hover {
  color: gray;
}

.selected {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

h1, h2 {
  margin-top: 0.5em;
  text-align: center;
  padding: 0;
}

h1 {
  margin-bottom: 0;
}

.intro {
  display: block;
}

.intro .profile {
  display: block;
  max-width: 60%;
  margin: auto;
}

@media only screen and (min-width: 640px) {
  .intro {
    display: grid;
    grid-template-columns: 3fr 5fr;
    align-items: center;
    gap: 1em;
  }

  .intro .profile {
    max-width: 100%;
  }

  .speechbubble {
    border: 3px double black;
    border-radius: 10px;
    padding: 0.5em 1em;
  }
}

.links {
  display: block;
  width: 100%;
}

.links div {
  display: block;
  margin: auto;
  text-align: center;
}

.links div p {
  margin: 0.5em;
  font-size: 1.0em;
}
