@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
  margin-top: 0;
  overflow: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  background-color: #f2ead2;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
}

h1 {
  background-color: #f9579c;
  color: white;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  padding: 0.25em;
  border-radius: 4px;
  font-family: 'Rubik';
}

h2 {
  color: #ae3998;
  text-align: center;
}

p {
  color: #654339;
  font-size: 1.25em;
  line-height: 1.4em;
}

img {
  max-width: 100%;
}

body>nav {
  background-color: #f92c85;
}

body>nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1em 0;
  gap: 1em;
  justify-content: center;
  flex-flow: row wrap;
}

body>nav ul a {
  text-decoration: none;
  color: #f0d9e8;
  font-weight: bold;
  font-size: 1.25em;
  font-family: 'Rubik';
}

body>nav ul a:hover {
  color: white;
}

body>nav .selected {
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

main {
  margin-top: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

main p {
  padding: 0 0.5em;
}

hr {
  border-top: 2px solid #D7B8BB;
  border-bottom: none;
  display: none;
}

.gallerynav nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1em 0;
  gap: 1em;
  justify-content: center;
  flex-flow: row wrap;
}

.gallerynav nav a {
  text-decoration: none;
  color: #3e6dc8;
  font-weight: bold;
  font-size: 1.1em;
}

.gallerynav nav a:hover {
  color: #EA8676;
}

.gallerynav {
  border-bottom: 1px solid #d9bfb7;
  width: 100%;
}

.gallerynav .selected {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.intro {
  display: block;
  border-bottom: 1px solid #d9bfb7;
}

.intro .profile {
  display: block;
  max-width: 60%;
  margin: auto;
}

@media only screen and (min-width: 1200px) {
  body {
    border-radius: 4px;
  }

  body>nav {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  body {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
	filter: drop-shadow(4px 4px 8px rgb(0 0 0 / 0.3));
  }

  html {
    background-color: #5ebec4;
  }
}

@media only screen and (min-width: 640px) {
  main {
    margin-left: 1em;
    margin-right: 1em;
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 0em;
  }

  .intro .profile {
    max-width: 100%;
  }

  .speechbubble {
    border: 3px double black;
    border-radius: 10px;
    padding: 0.5em 1em;
  }

  p {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.links {
  display: block;
  width: 100%;
}

.links div {
  display: block;
  margin: auto;
  text-align: center;
}

.links div p {
  margin: 0.5em;
}

.gallery {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0.25em;
  justify-content: center;
  padding-bottom: 0.5em;
  width: 100%;
}

.gallery div {
  position: relative;
  padding-top: 100%;
}

.gallery img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-position: 50% 25%;
  cursor: zoom-in;
  border-radius: 4px;
}

.gallery .fullgriditem {
  padding-top: 0;
  position: static;
  grid-column: 1 / -1;
  border: 3px solid blue;
}

.fullgriditem img {
  cursor: zoom-out;
  object-fit: contain;
  position: static;
  border-radius: 0;
}

footer {
  margin-bottom: 1em;
}

footer p {
  text-align: center;
  color: #86576a;
}